{% extends 'master.html' %}
{% block title %}F1 Archive- Drivers{% endblock %}

{% block content %}
<style>
        .year-selector {
            margin: 20px 0;
        }

        .year-selector label {
            font-family: 'formula1-display-regular', sans-serif;
            font-size: 1.2em;
            color: red;
            margin-right: 10px;
        }

        .year-selector select {
            font-family: 'formula1-display-regular', sans-serif;
            font-size: 1em;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        .drivers-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 1200px; /* Adjust based on your layout needs */
            margin: 0 auto;
        }

        .driver-card {
            display: inline-block;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 8px;
            margin: 10px;
            width: 250px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

        .driver-card:hover {
            transform: translateY(-10px);
        }

        .driver-card img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .driver-card h3 {
            font-family: 'formula1-display-bold', sans-serif;
            font-size: 1.2em;
            color: red;
            margin: 10px 0;
        }

        .driver-card p {
            font-family: 'formula1-display-regular', sans-serif;
            color: #555;
            padding: 0 10px 10px;
        }
    </style>

        <div class="year-selector">
            <form method="GET" action="{{ url_for('get_drivers') }}">
                <label for="year">Choose Year:</label>
                <input type="number" id="year" name="drivers_year" min="1900" max="2024" step="1" value="{{ current_year }}">
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="drivers-list">
            {% for driver in drivers %}
            <div class="driver-card">
                <img src="{{ url_for('static', filename='drivers_photo/' + driver.givenName + '_' + driver.familyName + '.jpg') }}"
                     alt="{{ driver.givenName }} {{ driver.familyName }}"
                     onerror="this.onerror=null;this.src='{{ url_for('static', filename='drivers_photo/undefined.png') }}';">
                <h3>{{ driver.givenName }}</h3>
                <div name="drivers_surname">{{ driver.familyName }}</div>
                <p>Team: {{ driver.team }}<br>Nationality: {{ driver.nationality }}</p>
            <<a class="more-info-link" href="{{ url_for('driver_details', name=driver['familyName']) }}">More info</a>
            </div>
            {% endfor %}
        </div>
    <script>
    function updateYear() {
            let year = document.getElementById('year').value;
            window.location.href = '/drivers?year=' + year;
        }
    </script>
{% endblock %}