<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Discovery App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>F1 Discovery App</h1>
        <input type="number" id="year" name="year" placeholder="Enter Year" required>
        <button type="submit" id="click">Search</button>
    </div>
</body>
<script>
    document.getElementById('click').onclick = function (){
        let year = document.getElementById('year').value;
        location.href = `api/drivers/${year}`
    }
</script>
</html>
